.footer {
  text-align: center;
  list-style: none;  
  position: relative;
  margin-bottom: 0;
  width: 100%;
  border-top: 1px solid rgb(209, 208, 208);
}

p {
  margin-top: 1rem;
}

a {
  margin: 1rem 0.5rem;
}

.p__contact {
  color: black;
}