.footer {
  display: inline-block;
  text-align: center;
  list-style: none;
  margin: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
}

p {
  margin-top: 2rem;
}



a {
  margin:2rem 0.5rem;
}
