Form {
   width: 50em;
   margin: auto, 10em;
  
 }

 .checkbox {
  margin: 2rem 0rem;
}

input {
  text-align: center;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #E3B924;
}

.label {
  margin: 5em;
}

.form-group-field {
  margin-bottom: 2em;
}
