.golden-box {
  border-radius: 30px;
  padding: 0.2rem;
  margin: 1rem;
  min-height: 18em;
}

.notification {
    background-color: rgb(231, 235, 235);
    border-radius: 70px 1px;
    font-style: italic;
    padding: 1.8rem;
  }
