.form-content {
  max-width: 43.75rem;
  margin: 1rem auto;
  padding: 3rem;

  .label {
     margin: 0.3rem auto;
     padding: auto;
  }

  .button {
    margin: 0.7rem auto;
  }

}

@media only screen and (max-width: 1023px) {
  .form-content {
      max-width: 35rem;
  }
}

@media only screen and (max-width: 728px) {
  .form-content {
      max-width: 30rem;
  }
}

@media only screen and (max-width: 480px) {
  .form-content {
      max-width: 20rem;
  }
}