.icons-button, .modal-card-head, h1 {
  text-align: center;
}

.modal-background {
  background-image: url('src/assets/images/mountains.jpg');
  position: absolute;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}


.modal-card {
  overflow: auto;
}



.social {
  min-width: 8em;
}

h1 {
  font-weight: bold;
}
