.h1{
    position:relative;
    font-size: 4rem;

}

.background__fleuri {
  background-image: url('src/assets/images/bluebell.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.content-box{
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: relative;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    margin: 1rem;
    width: 100vw;
}

.notice{
    padding: 2rem auto;
    opacity: 0.85;
    width: 30vw;
    height: 30vh;
    padding:2rem;

}


@media screen and (min-width: 1178px){

  .notice{
    width: 30vw;
    height: auto;
  }
} 
  
  @media only screen and (max-width: 1023px) {
    
    .notice{
      width: 80vw;
      height: 40vh;
    }
  }
  
  @media only screen and (max-width: 728px) {
    .notice{
      width: 80vw;
      height: 40vh;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .notice{
      width: 90vw;
      height: 80vh;
    }
  }
