.h1{
    position:relative;
    font-size: 5rem;
}
.columns.reviews{
    margin: 2rem auto;
    padding: 2rem auto;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content:center;
}
.notice{
    padding: 2rem auto;
    
}