h1 {
  z-index: 1;
  position: absolute;
  margin-top: 8em;
  font-size: 3em;
  color: #EDE7D6;
}
h2 {
  z-index: 1;
  margin: 1em 2em;
  font-size: 2em;
  color:  #EDE7D6;
  text-align: center;
}
.calendar {
  z-index: 1;
  margin-top: 2em;
  width: 15em;
  margin:auto;
}

.is-fullheight {
  display: flex;
  align-items: center;
}

.block {
  margin-top: 1rem;
  position: relative;
  max-width: 30em;
  text-align: center;
  font-size: 1.2em;
}

.misc {
  size: cover;
  position: center;
  height: 100vh;
}

@media only screen and (max-width: 1023px) {
  .form-content {
      max-width: 35rem;
  }
  .gold-book-column {
    width: 40rem;
  }
}

@media only screen and (max-width: 728px) {
  .form-content {
      max-width: 30rem;
  }
  .gold-book-column {
    width: 35rem;
  }
  .button__language {
    width: 4rem;
    height: 2.2rem;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .form-content {
      max-width: 20rem;
  }
  .gold-book-column {
    width: 25rem;
  }
  .button__language {
    width: 3rem;
    height: 1.8rem;
    font-size: 0.7rem;
  }
}