h1 {
  z-index: 1;
  margin-top: 5em;
  font-size: 3em;
  color: #EDE7D6;
}
h2 {
  z-index: 1;
  margin: 1em 2em;
  font-size: 2em;
  color:  #EDE7D6;
  text-align: center;
}
.calendar {
  z-index: 1;
  margin-top: 2em;
  width: 15em;
  margin:auto;
}

.is-fullheight {
  display: flex;
  align-items: center;
}

.block {
  margin-top: 27em;
  position: relative;
  width: 30em;
  text-align: center;
  font-size: 1.2em;
}

.home-column {
  min-height: 30em;
  margin-top: 5em;
  border: 1px solid black;
}

.gold-book-column {
  min-width: 20em;
  min-height: 10em;
  margin: 5em;
  margin-bottom: 5em;
  border: 1px solid black;
}

.bcg {
  background-image: url('src/assets/images/mountains.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  //filter:blur(0.2rem);
  //opacity: 0.8;
}

.columns_home {
  display: flex;
  flex-wrap: wrap;
}